/* création de la taille et police d'écriture standard pour la page */

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* définiton de la couleur des titres */

h1{
    color: orange;
}

h2{
    color: red;
}

/* Définition couleur du texte */

*{
    color: white;
}

/* Mise en page CV */

body{
    background: rgb(32, 32, 32);
    display: flex;
    align-items: center;
}

#corpscv{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

/* Définition taille image du CV */

img{
    width: 80px;
}

/* Mise en page coordonnées */

#coordonnees{   /* mise en page générale */
    display: flex;
    align-items: center;
}

/* Mise en page des bouttons */

.button{
    display: flex;
    flex-direction: column;
}

/* Mise en page Softs skills */

#soft{
    display: flex;
    align-items: center;
}

/* création responsive */

@media screen and (max-width:990px) and (orientation:portrait) {

}