/* création de la taille et police d'écriture standard pour la page */

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/* définiton de la couleur des titres */

h1{
    color: orange;
}

h2{
    color: red;
}

/* création responsive */

@media screen and (max-width:990px) and (orientation:portrait) {

}